<!--@subject Bem-vindo, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Bem-vindo a {{var store.getFrontendName()}}.</h1>
            <p>Para iniciar sessão enquanto visita a nossa loja <a href="{{store url="customer/account/"}}">Inicie Sessção</a> ou vá a <a href="{{store url="customer/account/"}}">Minha Conta</a> que está localizado no topo de cada página e insira o seu email e palavra-passe.</p>
            <p class="highlighted-text">
                Use the following values when prompted to log in:<br/>
                <strong>Email</strong>: {{var customer.email}}<br/>
                <strong>Password</strong>: {{htmlescape var=$customer.password}}
            </p>
            <p>Assim que iniciar sessão será capaz de realizar as seguintes acções:</p>
            <ul>
                <li>Finalizar a encomenda mais rapidamente</li>
                <li>Verificar o estado das suas encomendas</li>
                <li>Visualizar histórico encomendas</li>
                <li>Realizar alterações à sua conta</li>
                <li>Alterar a sua palavra-passe</li>
                <li>Guardar endereços alternativos (para envios par amigos e familiares!)</li>
            </ul>
            <p>
                Se você tiver alguma dúvida sobre a sua conta ou qualquer outra coisa, entre em contato conosco em
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} ou pelo telefone <a href="tel:{{var store_phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
